</a><body style="background-color:GreenYellow;"><br><center>
    <h1 style="color=FireBrick;font-size:50px"><i><b><center>İşlem seçelim:</center> <b><i> </h1>
    
<a href="@{Application.heceler(a)}">Hecele </a></br>
<a href="@{Application.kelimeAyristir(a)}">Kelime Ayristir</a></br>
<a href="@{Application.kelimeCozumle(a)}"> Kelime  Cozumle</a></br>
<a href="@{Application.kelimeDenetle(a)}"> Kelime Denetle</a></br>
<a href="@{Application.oneriler(a)}"> Kelime Oner</a></br>
<a href="@{Application.asciDonustur(a)}">ASCII'ya Donustur</a></br>
<a href="@{Application.kokBul(a)}"> KokBul</a></br>
<a href="@{Application.sayiBul(a)}">İstatistikleri Goster</a></br>

