#{extends 'main.html' /} #{set title:'Home' /}

 
 <form action="@{Application.kullanicidanAl()}" method="GET">
 <h3>Text girelim:</h3>
  <textarea name="cumle" rows="10" cols="60"></textarea>

 <input type="submit"  />
 </form> 
 #{if flash.error}
    <p style="color:#c00">
        ${flash.error}
    </p>
#{/if} 
 
 
<h3>Yada dosyadan yükleyelim:</h3> </br>
 <form action="@{Application.dosyadanOku()}" method="POST"
      enctype="multipart/form-data">

<input type="file" name="dosyaadı">

<input type="submit">
</form>





 





