</a><body style="background-color:GreenYellow;"><br><center>
    <h1 style="color=FireBrick;font-size:50px"><i><b><center>İşlem seçelim:</center> <b><i> </h1>
	
<a href="@{Application.heceler(cumle)}">Hecele </a></br>
<a href="@{Application.kelimeAyristir(cumle)}">Kelime Ayristir</a></br>
<a href="@{Application.kelimeCozumle(cumle)}"> Kelime  Cozumle</a></br>
<a href="@{Application.kelimeDenetle(cumle)}"> Kelime Denetle</a></br>
<a href="@{Application.oneriler(cumle)}"> Kelime Oner</a></br>
<a href="@{Application.asciDonustur(cumle)}">ASCII'ya Donustur</a></br>
<a href="@{Application.kokBul(cumle)}"> KokBul</a></br>
